  <div class="first-section">
    <i class="material-icons logo">play_circle_outline</i>
    <h1>Spotify Filter</h1>
  </div>

  <div class="second-section">
    <h2>Let's Dance</h2>
  </div>

<div class="row">
  <div class="col s12 third-section">
    <a class='dropdown-trigger btn btn-large waves-effect buttonStyle' id="popularity" href='#' data-target='dropdown1'>Popularity</a>

    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>

    <a class='dropdown-trigger btn btn-large waves-effect buttonStyle' id="genre" href='#' data-target='dropdown1'>Genre</a>

    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>

    <a class="btn-floating btn-large waves-effect waves-light submit"><i class="material-icons">arrow_forward</i></a>

  </div>
</div>
