<form action="/categories" method="GET" >
    <select name="categories" id="inputCategories">
        <option value="Blues">Blues</option>
        <option value="Christian">Christian</option>
        <option value="Classical">Classical</option>
        <option value="Comedy">Comedy</option>
        <option value="Country">Country</option>
        <option value="Dance/Electronic">EDM</option>
        <option value="Desi">Desi</option>
        <option value="Folk & optioncoustic">Folk & Acoustic</option>
        <option value="Funk">Funk</option>
        <option value="Hip-Hop">Hip-Hop</option>
        <option value="Indie">Indie</option>
        <option value="Jazz">Jazz</option>
        <option value="K-Pop">K-Pop</option>
        <option value="Latin">Latin</option>
        <option value="Metal">Metal</option>
        <option value="Pop">Pop</option>
        <option value="Punk">Punk</option>
        <option value="R&B">R&B</option>
        <option value="Reggae">Reggae</option>
        <option value="Rock">Rock</option>
        <option value="Soul">Soul</option>
    </select>
    <input type="submit" />
</form>    

