<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="first-section">
    <i class="material-icons logo">play_circle_outline</i>
    <h1>Spotify Filter</h1>
</div>

<div class="second-section center">
  <h2 id="content">Discover New Music</h2>
</div>

<div class="row">
  <div class="col s12 third-section">

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger genreSubmitButton" href="#modal1">Choose your filters</a>

    <!-- Modal Structure -->
    <form class="genreForm" action="/genre" method="GET">
      <div id="modal1" class="modal">

        <div class="legend">
          <legend>Popularity</legend>
        </div>

        <div class="modal-content popupButtonsPopularitySection">
          <input type="radio" name="pop" value="Who?" id="Who?" checked><label class="btn-small popularityButton" for="Who?">Who?</label>
          <input type="radio" name="pop" value="Kinda known" id="Kinda known"><label class="btn-small popularityButton" for="Kinda known">Kinda known</label>
          <input type="radio" name="pop" value="Balance" id="Balance"><label class="btn-small popularityButton" for="Balance">Balance</label>
          <input type="radio" name="pop" value="Popular" id="Popular"><label class="btn-small popularityButton" for="Popular">Popular</label>
        </div>

        <div class="legend">
          <legend>Genre</legend>
        </div>

        <div class="modal-content popupButtonsGenreSection">
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Blues">Blues</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Classical">Classical</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Country">Country</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="EDM">EDM</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Desi">Desi</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Folk & Acoustic">Folk & Acoustic</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Funk">Funk</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Gospel">Gospel</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Hip-Hop">Hip-Hop</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="indie-pop">Indie</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Jazz">Jazz</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="K-Pop">K-Pop</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Latin">Latin</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Metal">Metal</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Pop">Pop</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Punk">Punk</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="R&B">R&B</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Reggae">Reggae</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Rock">Rock</button>
          <button class="waves-effect waves-light btn-large genreButton" type="submit" name="genre" value="Soul">Soul</button>
        </div>
      </div>
    </form>

  </div>
</div>
