<!DOCTYPE html>
<html>
  <head>

    <title>Spotify Filter</title>

    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

     <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat" rel="stylesheet">

    <!-- Icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="jquery-3.3.1.min.js"></script>
  </head>
  <body>
    {{{body}}}
    <script>
      $('.dropdown-trigger').dropdown();
      $(document).ready(function(){
      $('.modal').modal();
      });

    </script>


    <script src="js/main.js"></script>
  </body>
</html>
