<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

     <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat" rel="stylesheet">

    <!-- Icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    {{{body}}}
    <script>

      $('.dropdown-trigger').dropdown();

<<<<<<< HEAD
    </script>
=======
    </script> -->

    <script type='text/javascript' src='config.js'></script>
>>>>>>> e6a903190712de9fdd8c06170d07b48b727b2928
  </body>
</html>
