<head>
  <title>Face The Music</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styleResults.css" />
</head>

<body>

  <header>
    </nav>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper black first-section">
          <a href="/" class="white-text"><i class="material-icons logo">play_circle_outline</i>Spotify Filter</a>
        </div>
      </nav>
    </div>
  </header>

<!--  BODY -->
  <div class="grey lighten-4 second-section" >
    <div class="row">
      <div class="col s12 cardsDisplay" >
        <!-- <div class="col s8 center left-column"> -->
{{#each tracklist}}
                <div class="card-panel scale-transition z-depth-2">
                    <iframe src='https://open.spotify.com/embed?uri={{this.uri}}' width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  </div>
{{/each}}
      <!-- <div class="row">
        <div class="col s12 center buttonStyles">

          <a id="rejectButton" class="btn-floating btn-large waves-effect waves-light grey" onClick="rejectImage()"><i class="material-icons">close</i></a>
          <a id="acceptButton" class="btn-floating btn-large waves-effect waves-light teal" onClick="acceptImage()"><i class="material-icons">check</i></a>

        </div>
        </div> -->
<!-- </div> -->

        <!-- <div class="col s4">
          <ul class="collection">
            <li class="collection-item avatar list-header">
              <h1>Music you like</h1>
            </li>
            <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <i class="material-icons circle">music_note</i>
              <span class="title">Track Name</span>
              <p>Artist <br>
                Album
              </p>
            </li>
            <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <i class="material-icons circle">music_note</i>
              <span class="title">Track Name</span>
              <p>Artist <br>
                Album
              </p>
            </li>
            <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <i class="material-icons circle">music_note</i>
              <span class="title">Track Name</span>
              <p>Artist <br>
                Album
              </p>
            </li>
            <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <i class="material-icons circle">music_note</i>
              <span class="title">Track Name</span>
              <p>Artist <br>
                Album
              </p>
            </li>
          </ul>
        </div> -->
      </div>
</div>

</body>
