<head>
  <title>Face The Music</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>This is working</h1>
        <p id="demo" onclick="myFunction()">Click me to change my text color.</p>

      </div>
    </div>
    <div class="row">
      <div class="col-6">
      <img src="images/sample.jpg" id="cover-art" onClick="changeImage()">
    </div>
    </div>
    <div class="row">
      <div class="col-6">
      <button name="accept" onclick="myFunction()" id="button-accept" class="buttoncolor">Accept</button>
      <button name="reject" id="button-reject" onClick="changeImage()">Reject</button>
    </div>
    </div>

</body>
