<head>
  <title>Face The Music</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styleResults.css" />
</head>

<body>


  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center"><i class="material-icons">play_circle_outline</i>Spotify Filter</a>
      <ul class="right hide-on-med-and-down">
        <li><button class="waves-effect waves-light btn genreButton" type="submit" id="search-again" name="search"><a href="/">Search Again</a></button></li>
        <li><a http-equiv="refresh"><i onclick="window.location.reload()" class="material-icons">refresh</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<!--  BODY -->
    <div class="col s4">
      <div class="sidenav sidenav-fixed">
      <div class="collection" id ="musiclist">
        <div class="collection-item avatar teal white-text center" id="list-header">
          <h5>My playlist</h5>
          <i class="material-icons small" id ="add-playlist-button">playlist_add</i>

        </div>
        <ul class="collection" id="description-list">
          <li class="collection-item">Create a playlist of songs you like<i class="material-icons secondary-content">arrow_upward</i></li>
          <li class="collection-item">Add a song here by clicking the <br>plus button<i class="material-icons secondary-content">arrow_forward</i></li>
        </ul>
      </div>
    </div>
  </div>
<main>
  <div class="grey lighten-4 second-section">
    <div class="row">

      <div class="col s12 cardsDisplay">
{{#each tracklist}}
                  <div class="card-panel scale-transition z-depth-2 hoverable">
                    <iframe src='https://open.spotify.com/embed?uri=spotify:track:{{this.id}}' width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <a id= "add-button" class="btn-floating btn-large halfway-fab waves-effect waves-light teal" name="{{this.song_name}}" album="{{this.album_name}}" artist="{{this.artist}}"><i class="material-icons">add</i></a>
                  </div>
{{/each}}
</div>
</div>
</main>
</body>
