/* color pallete:
teal: #008080, #26a69a
black: #2e2e2e
grey: #5d5d5d */

body {
  padding: 20px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  font-size: 2rem;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
}

.first-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.third-section{
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  color: white;
  font-weight: bold;
}

.buttonStyle{
  width: 300px;
  border-radius: 10px;
  margin: 0 10px;
}

#submitIcon{
  color: black;
}

#submitIcon:hover{
  color: white;
}

#popularity{
  background-color: #008080;
  transition: 200ms;
}

#popularity:hover{
  background-color: #009696;
}

#genre{
  background-color: #3b3b3b;
  transition: 200ms;
}

#genre:hover{
  background-color: #5b5b5b;
}

.filterButton{
  width: 300px;
  height: 50px;
  background-color: #008080;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  width: 70%;
  max-height: 80%;
  border-radius: 10px;
  background-color: #2e2e2e;
}

.popularityButton{
  background-color: #008080;
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
}

.popularityButton:hover{
  background-color: white;
  color: #2e2e2e;
}

.popupButtonsPopularitySection{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2e2e2e;
}

.popupButtonsGenreSection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
}

.genreButton{
  margin: 10px 10px;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008080;
  border-radius: 5px;
  line-height: 1;
}

.genreButton:hover{
  /* color: white; */
  color: #2e2e2e;
  background-color: white;
}

.genreButton:checked{
  color: #2e2e2e;
  background-color: white;
}

.legend{
  display: flex;
  justify-content: center;
  color: white;
  background-color: #2e2e2e;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
}


.genreForm {
  display: flex;
}

.buttoncolor {
  color: #008080;
}

/* copy paste ====================================*/

/* .plan{
  display: flex;
  justify-content: space-around;
}

.plan input:checked + label{
	border: 3px solid white;
} */

input:checked + label{
  color: #2e2e2e;
  background-color: white;
}

label {
  background-color: #5d5d5d;
  height: 30px;
  width: 150px;
}

/* label{
  color: white;
  text-align: center;
  line-height: 1;
} */
