body {
  padding: 20px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  font-size: 2rem;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
}

.first-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.third-section{
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat';
  font-size: 5em;
  color: white;
  font-weight: bold;
}

.buttonStyle{
  width: 300px;
  border-radius: 10px;
  margin: 0 10px;
}

.submit{
  background-color: white;
  margin: 0 10px;
}

#submitIcon{
  color: black;
}

#submitIcon:hover{
  color: white;
}

#popularity{
  background-color: #008080;
  transition: 200ms;
}

#popularity:hover{
  background-color: #009696;
}

#genre{
  background-color: #3b3b3b;
  transition: 200ms;
}

#genre:hover{
  background-color: #5b5b5b;
}

.genreAlign{
  align-items: center;
}

.dropdown{
  color: white;

  background-color: #008080;
  border: #008080;
  width: 300px;
  height: 50px;
}

select {
  display: flex;
}

h1 {
  text-align: center;

}
.submit:hover{
  background-color: #008080;
}

.genreForm {
  display: flex;
}

img{
  width: 250px;
  height: 250px;
}

.buttoncolor {
  color: #008080;
}

#content{ 
  text-shadow: 3px 3px 3px teal;

.dropdown {
  margin: 20px 20px;

}