body {
  font:  "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: grey;
  font-weight: bold;
}

.second-section{
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

nav{
  position: fixed;
  background-color: black;

}

.cardsDisplay{
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 250px;
  height: 250px;
}

.card {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.card-panel{
  width: 350px;
  margin-left: 17px;
  height: 430px;
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

}

.card-panel:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card .card-content{
  padding: 0px;
  padding-bottom: 5px;
}
.logo{
  font-size: 2.3rem !important;
  margin-top: 2px;
  margin-right: 5px;
}

.buttoncolor {
  color: #008080;
}

.header {
  color: #008080;
}

.first-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-column{
  position: relative;
  height: 700px;
}

.btn-large {
  margin: 15px;
}

.row {
  margin-bottom: 0px;
}

.buttonStyles{
  position: absolute;
    bottom: 140px;

}

.collection{
  margin-top: 62px;
}

.load-more{
  margin: 25px;
}

button {
  margin: 50px;
}

.btn-floating.halfway-fab{
  position: relative;
  top: -80px;
  right: -229px;

}
iframe{
  padding: 12px;
}

.btn-floating.btn-large i {
    line-height: 70px;
}

.btn-large i {
    font-size: 2.3rem;
}

.btn-floating.btn-large {
    width: 70px;
    height: 70px;
}

.sidenav{
  z-index: 99;
}

main {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main {
        padding-left: 0;
      }
    }

#list-header{
  background-color: black;
  padding-left: 25px;
}


h5{
  font-weight: 200;
}

.collection .collection-item.avatar i.circle {
  background-color: black;
}

p{
  font-size: 13px;
}

#playlist-description{
  position: absolute;
}

.white-text{
  display: flex;
  align-items: center;
  font-size: 2em;
}