body {

  font:  "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  font-weight: bold;

}

img {
  width: 250px;
  length: 250px;
}

.buttoncolor {
  color: #008080;
}

.header {
  color: #008080;
  margin: 0px;
}

.first-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
