/* color pallete:
teal: #008080
black: #2e2e2e
grey: #5d5d5d */

body {
  padding: 20px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  font-size: 2rem;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
}

.first-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.third-section{
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  color: white;
  font-weight: bold;
}

.buttonStyle{
  width: 300px;
  border-radius: 10px;
  margin: 0 10px;
}

#submitIcon{
  color: black;
}

#submitIcon:hover{
  color: white;
}

#popularity{
  background-color: #008080;
  transition: 200ms;
}

#popularity:hover{
  background-color: #009696;
}

#genre{
  background-color: #3b3b3b;
  transition: 200ms;
}

#genre:hover{
  background-color: #5b5b5b;
}

.genreSubmitButton{
  width: 300px;
  height: 50px;
  background-color: #008080;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  width: 70%;
  max-height: 80%;
  border-radius: 10px;
}

.popularityButton{
  background-color: #5d5d5d;
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.popularityButton:hover{
  background-color: white;
  color: #2e2e2e;
}

.popupButtonsPopularitySection{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2e2e2e;
}

.popupButtonsGenreSection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
}

.genreButton{
  margin: 10px 10px;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  /* color: #2e2e2e; */
  border-radius: 5px;
  line-height: 1;
}

.genreButton:hover{
  /* color: white; */
  color: #2e2e2e;
  background-color: white;
}

.dropdown{
  color: white;
  background-color: #008080;
  border: #008080;
  width: 300px;
  height: 50px;
}

.legend{
  display: flex;
  justify-content: center;
  color: white;
  background-color: #2e2e2e;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.submit{
  background-color: white;
}

.submit:hover{
  background-color: #008080;
}

.genreForm {
  display: flex;
}

img{
  width: 250px;
  height: 250px;
}

.buttoncolor {
  color: #008080;
}

label {
  background-color: #5d5d5d;
  height: 30px;
  width: 150px;
}

#content{ 
  text-shadow: 3px 3px 3px teal;

.dropdown {
  margin: 20px 20px;

}
